:root {
    --ballColor: linear-gradient(90deg, #0034ff 0%, #00caff 100%);
    --gameBoxColor: linear-gradient(90deg, #227601 0%, #00b017 100%);
    --rodColor: linear-gradient(90deg, #f1ff00 10%, #003461 10%, #003461 90%, #f1ff00 90%, #f1ff00 100%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(135deg, #a55454, #0db2dc);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameBox {
    width: 900px;
    height: 700px;
    background: var(--gameBoxColor);
    position: relative;
    box-shadow: -2px 0 20px 2px black;
}

.gameBox .rod {
    width: 150px;
    height: 20px;
    background: var(--rodColor);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.gameBox .bottomRod {
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gameBox .topRod {
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gameBox .ball {
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--ballColor);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.gameBox .pause {
    border-left: 30px solid #b81111;
    border-right: 30px solid #b81111;
    height: 120px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.gameBox .message {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0.7;
    text-align: center;
}

.detailsBox {
    width: 300px;
    height: 700px;
    background: #5f5f5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 20px 2px black;
}

.detailsBox .controlBtn {
    width: inherit;
    height: 50px;
    background: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detailsBox .controlBtn button {
    width: 50%;
    height: inherit;
    background: #22c7a1;
    color: black;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.detailsBox .controlBtn button:nth-child(1) {
    border-right: 0.5px solid black;
}

.detailsBox .controlBtn button:nth-child(2) {
    border-left: 0.5px solid black;
}

.detailsBox .controlBtn button:hover {
    background: #005f49;
    color: white;
}

.detailsBox .playerImage {
    width: inherit;
    height: 200px;
    background: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailsBox .playerImage img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.detailsBox .playerName {
    width: inherit;
    height: 50px;
    border-bottom: 2px solid black;
    background: inherit;
    color: #ffb807;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.detailsBox .scoreboard {
    width: inherit;
    height: 400px;
}

.detailsBox .scoreboard .fullScoreboard {
    width: inherit;
    height: inherit;
    background: darkslateblue;
    display: none;
}

.detailsBox .scoreboard .fullScoreboard table {
    width: inherit;
    border: 1px solid black;
    border-spacing: 0;
    text-align: center;
}

.detailsBox .scoreboard .fullScoreboard table td {
    padding: 10px 15px;
}

.detailsBox .scoreboard .fullScoreboard table thead {
    font-size: 1.5rem;
    font-weight: 600;
    background: #ffed87;
    color: black;
}

.detailsBox .scoreboard .fullScoreboard table tbody {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.detailsBox .scoreboard .fullScoreboard table tbody tr:nth-child(odd) {
    background: #323C50;
}

.detailsBox .scoreboard .fullScoreboard table tbody tr:nth-child(even) {
    background: #222631;
    ;
}

.detailsBox .scoreboard .fullScoreboard table tbody tr:nth-child(6) {
    font-size: 1.5rem;
    font-weight: 600;
}

.detailsBox .scoreboard .eachGameScoreboard {
    width: inherit;
    height: inherit;
    background: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsBox .scoreboard .eachGameScoreboard p {
    margin: 0;
    font-size: 7rem;
}